#################################
## TeDa Tech Git ignore - start #
#################################
# Idea
.idea

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Chart dependencies
charts/*/charts/*.tgz
charts/*/tmpcharts

# Terraform / OpenTofu
*.tfstate
*.tfstate.*
.terraform

# Aider
.aider*

# Taskfile
.task/

#################################
## TeDa Tech Git ignore - end   #
#################################
